[2021-12-04 16:49] AliceOfSNU opened #8 "photon계정 sharing 관련"
photon app 이 한번 만들면 끝인게 아니라,
chat server 넣으려면 또 별도의 app을 만들어서
프로젝트 안에서는 그 app id로 server에 접속하는 것 같더라고요!

그래서 photon app추가를 자유롭게 할 수 있도록
photon 계정 공유하면 어떨까 싶습니다.

제가 생각하기엔 지금 photon은 이미 개인 메일로 되어 있어 어쩔 수 없지만
앞으로는 공동으로 쓸 수 있는 gmail 파고 pw도
기본 pw + otp 형식으로 기업에서 하는 것처럼 따라하는 것도
괜찮을 것 같은데 어떠신가요?

[2021-12-09 04:35] brainini commented on #8
이 issue를 지금에야 확인했네요 죄송합니다.
지금 저희 photon server도 개인 메일이 아니라 XTown 메일로 열어놓았습니다!!
밑에 아이디 및 비밀번호를 달아놓을테니 해당 아이디로 photon 홈페이지에 로그인해서 작업해주시면 될 것 같습니다.

ID : contact@xreal.info
PW : dprtmfldjf777 (한글로 엑스리얼777)

[2021-12-09 05:41] AliceOfSNU commented on #8
확인했습니다 감사합니다

[2021-12-09 05:41] #8 closed

[2021-12-09 05:51] AliceOfSNU opened #9 "기본적인 chat 구현"
baseline 챗 사용방법

1. play버튼 눌러 UI가 맞게 디스플레이되는지 확인 (화면 비율에 따라 UI가 표시 안되는 경우도 있음. 이럴땐 dont destroy on load> chatManager > canvas > chatpanel의 사이즈를 변경하면 보이긴 하나 근본적으로는 ui팀에서 문제를 확인해 줬으면 좋겠음.

2. 기본채널은 Default임. debug console에서 채널 이름 확인!

3. 메시지 보내려면 메시지 입력후 send button클릭 또는 enter

4. 새로운 채널에 subscribe하려면 \subscribe <채널이름> 입력
지금은 채널 이름 입력하면 그 채널이 새로 만들어짐.

5. 다른 채널로 이동하려면 \join <채널 이름!> 입력. 그러면 그 채널에 쌓인

[2021-12-09 05:52] AliceOfSNU commented on #9
코드 위치: assets > scripts > chat > photo chat manager.cs

[2021-12-09 18:41] brainini opened #11 "2021.12.10 (금) _ 휴회기간 과제 준비"
## 현재 상황
- 휴회기간 : 12/6~1/2 -> 1월 3일에 휴회 후 첫 세션
- 기말고사 마무리 되는 시점인 12/20에 과제 공지 예정
- 팀별 멀티플레이어 게임 미니 프로젝트 진행 제안함 (by 태구)
- 12/20에 메인 프로젝트 팀빌딩도 동시 진행 예정.

## 논의 사항
- 메인 프로젝트 팀빌딩한 팀으로 휴회 기간 팀 과제 줄지?
- 과제 보충 및 제안 요청
    - [과제 링크 1](https://www.youtube.com/watch?v=mPCNTi3Booo&list=PL3KKSXoBRRW3YE4UMnRH762vOhSHLdnpK)
    - [과제 링크 2](https://www.youtube.com/watch?v=zPZK7C5_BQo&list=PLhsVv9Uw1WzjI8fEBjBQpT

[2021-12-09 19:42] brainini commented on #9
필요한 수정사항 풀리퀘에 comment 달아놓았습니다.

[2021-12-09 19:50] brainini opened #12 "서버, 게임 - Photon library를 이용한 간단한 clicker game 구현"
## 목적

## 작업 상세 내용
- photon SerializedView function을 이용해 단순한 마우스 클릭을 통해 서로 다른 유저들끼리 서로의 점수를 실시간으로 비교하며 경쟁할 수 있는 게임.

## 참고 사항
- [참고 유튜브 링크](https://www.youtube.com/watch?v=7tjez6oZDlA)

[2021-12-10 04:38] AliceOfSNU opened #15 "2021.12.10 (금) _ chat ui 디스플레이 안되는 bug"
PhotonChat: #10

[issue]
화면 비율이 바뀌었을 때 **chat ui가 제대로 표시되지 않고 빨간 x로 표시**되는 문제가 있습니다.

[potential causes]
어떨 때 발생한 다 외에 아직 원인은 찾지 못했으나 anchor와 offset으로 정의된 ui element들이 화면 비율이 바뀌면
parent canvas 영역에서 벗어나 디스플레이 되지 않는 것 같습니다.

[how to reproduce]
게임 플레이 버튼 클릭 후 게임 window 비율 변경 -> inspector view로 돌아가보면 ui element들이 빨간 x로 바뀐 것 확인가능

[comments]
UI 팀에서 검토 부탁드립니다.

[2021-12-10 09:22] brainini commented on #15
글로만 써져있어 직관적이지 않고 전 해당 사항을 제 local에서 확인하지 못해서 사진 첨부해주시면 좋을 것 같습니다.

[2021-12-10 13:15] brainini commented on #11
다빈님 : 디자인팀은 휴회기간 중으로 XTown 기획을 작성할 예정이기 때문에 팀이 빨리 꾸며질수록 좋은 상황이다.
->오늘중으로 슬랙 프로젝트공지방에 디자인팀 모집 공지 올릴 것.

한준님 : 메인프로젝트 팀빌딩 대로 과제 나가자.

- **UI팀 분리 의견** : 프론트엔드 개발 과정이 들어가기 때문에 워크로드가 상당할 예정. 디자인팀과 개발팀 모두가 필요할 것 같음. 그래서 UI팀을 따로 분리하는 것이 필요한 상황 -> 만약 하게 되면 진님께서 맡아서 진행해주시면 좋을 듯.
    - 슬랙에 의견 공지.

첫번째 논의 사항은 메인프로젝트 팀빌딩으로 가는 것으로 의결.

각 팀별로 과제 의견 이 이슈에 코멘트 달기.(~12/15)

[2021-12-15 10:51] Hyewon0309 commented on #11
Youtube에서 Unity3d를 이용해 마인크래프트를 구현해보는 tutorial이 있어 가져왔습니다.
실제로 아는 게임을 직접 구현해 보는 것이 더 재밌을 것 같고, 구현하는 과정에서 3d object, texture, UI 등에 대해 세세하게 배울 수 있을 것 같아서 제안합니다. 시간은 많이 걸릴 것 같은데 한 번에 끝까지 구현하는 것이 아니라 특정 부분까지 구현하는 것을 목표로 하면 괜찮을 것 같습니다!

[과제 참고 링크](https://www.youtube.com/watch?v=h66IN1Pndd0&list=PLVsTSlfj0qsWEJ-5eMtXsYp03Y9yF1dEn)

[2021-12-15 11:30] JasonK2K commented on #11
photon 사용하여 멀티플레이어 fps 구현하는 예제입니다.

[2021-12-15 11:33] JasonK2K commented on #11
photon, fps 라이브러리 사용하여 fps 멀티 플레이어 게임 만드는 예제입니다.
나온지 조금 된 예제이긴 한데, fps 장르가 3D 게임을 선도하듯이 한번 그 원리를 알아보면 좋을 것 같다는 생각이 드네요.
최신 버전으로 라이브러리 업데이트해서 하면 괜찮을 것 같습니다. 만약 이걸로 한다면
버전 차이로 인해 버그 발생하는 부분이 있나 확인해봐야겠네요.
[과제 유튜브 링크](https://www.youtube.com/watch?v=8fg5vtwBll8&list=PLu2K_XrV43vBp40aez8XAjPt-MmzLdJnG&index=17)

[2021-12-15 12:53] Aimee0122 commented on #11
기본적인 부분부터 확실히 연습해보면 좋을 것 같아서 완전한 게임이나 프로그램 구현보다는 캐릭터 에셋 애니메이션 연습 과제를 준비해보았습니다. 튜토리얼을 단순히 따라하기보다는 가능하면 자신이 원하는 에셋으로 추가적인 애니메이션 기능을 넣어서 제출하면 좋을 것 같습니다.

[과제링크 1](https://www.youtube.com/watch?v=qc0xU2Ph86Q)
[과제링크 2](https://www.youtube.com/watch?v=ReauId6jFFI)

[2021-12-15 14:57] ahnjinmo commented on #11
xtown 내에 들어갈 게임을 만들기 전에, 너무 볼륨이 크지 않으면서 흥미를 느낄 만한 미니게임 혹은 다른 게임에서 나오는 독특한 feature를 클론해보면 좋을 것 같아서 관련 영상들을 찾아봤습니다. 주로 [MixandJam](https://www.youtube.com/c/MixandJam/videos) 이라는 채널에 이런 영상들이 많이 있는데, 그 중 아래 세 가지 정도의 수준이면 해볼만 할 것 같습니다. 그리고 한 개 만으로는 로드가 적다면 여러 개를 해도 좋을 것 같습니다. 그리고 맵/캐릭터/애니메이션 에셋 등을 임포트하고 적용하는 과정이나 쉐이더 등등에 대한 세부적인 내용은 생략되어 있지만, 이런 부가적인 부분들은 직접 찾아보면서 만들게 해도 좋을 것 같습니다.

1. [Tilt Quest 미니게

[2021-12-15 16:14] jinny1t commented on #11
아직 UI팀을 모집하지 않아서 디자인 팀에서 우선적으로 모집해보고 인원이 충분하지 못하다고 판단되면  UI쪽의 경험이 있거나 관심이 있는 학회분들이 있을 수 있어서 학회 전체에도 공지를 띄어볼 예정입니다. 21일까지 모집을 완료하고(제가 시험이 21일날 끝나서ㅠㅠ) 22일부터 빠르게 팀원들과 함께 UX적인 측면에서 Xtown의 User flow와  IA를 기획하고 그걸 구현하는 UI를 디자인하기 전에  디자인적으로  참고할 수 있는 webgl 사이트들을 리서치 할 계획입니다. (예시 레퍼런스 : https://www.blueyard.com/ , https://gallery.swell.ripple.com/room/gonzalo-miranda) 이 후 UI 와이어프레임을 휴회기간이 끝나기 전까지 만들어보는것을

[2021-12-15 16:35] AliceOfSNU commented on #11
약간 너무 본격적일수도 있는데
투토리얼 따라하는게 아니라 부딪히면서 배우는 단계로
나아가야 하지 않을까 싶어서..
시의적절하게 크리스마스 트리 만들면 어떨까 싶습니다

대강 기획 pdf 로 첨부합니다
[christmas-tree.pdf](https://github.com/XREAL-SNU/xTown/files/7721139/christmas-tree.pdf)

아직 정리가 안됐는데 정리해서 requirement 잘 써서 과제로 내면 어떨까 싶습니다.

[2021-12-15 17:08] Abecid commented on #11
Unity Learn이 Unity를 배우는데 기본이자 정석인것 같은데 여기서 Pathway가 크게 세 가지가 있는 것 같아요 (Essentials, Junior Programming, Creative Core)

이 중 Essentials만 과제로 나간 것으로 알고있는데 세가지를 간단히 정리하자면
1. [Essentials](https://learn.unity.com/pathway/unity-essentials) (2 주)
  유니티 첫 입문자 위한 수업

  미션1: Get started with Unity
    - 유니티 프로젝트 시작 및 관리: Unity Editor 다운받고 Unity Hub로 관리
    - Unity Editor Essentials: scene 시작 및 관리, Scene view

[2021-12-16 04:05] AliceOfSNU commented on #15
재현이 안되서 일단 close합니다

[2021-12-16 04:05] #15 closed, assigned to nobody

[2021-12-16 04:26] brainini opened #16 "2021.12.16 (목) _ 휴회기간 과제준비(서버팀)"
## 현재 상황
- 휴회기간 : 12/6~1/2 -> 1월 3일에 휴회 후 첫 세션
- 기말고사 마무리 되는 시점인 12/20에 과제 공지 예정
- 팀별 멀티플레이어 게임 미니 프로젝트 진행 제안함 (by 태구)
- 12/20에 메인 프로젝트 팀빌딩도 동시 진행 예정.

## 논의 사항
- 과제 보충 및 제안 요청

## 해야 할 일
- 각 팀 별 과제 확정 (~12/17)

[2021-12-16 04:43] #16 closed, assigned to brainini, Abecid, AliceOfSNU

[2021-12-18 11:26] AliceOfSNU opened #17 "private 챗"
baseline chat에 private chat기능을 더했습니다

[2021-12-18 11:32] AliceOfSNU commented on #17
![image](https://user-images.githubusercontent.com/86138312/146639279-2a2f6922-0fff-4255-b097-d0499a88eb5a.png)

아직 private chat 공간에서는 자동으로 send to.. 필드를 현재 대화중인 상대로 세팅한다거나,..
몇가지 구현할 게 남아서 조만간 완료되면 풀리퀘 파겠습니다

[2021-12-18 11:34] AliceOfSNU commented on #17
[추가된 기능]
- send to 필드에 상대의 id를 입력하면 (현재는 해당 id가 valid한, 게임에 접속된 유저의 id인지 검사 안하지만 이것은 꼭 필요) 해당 플레이어와 private chat 생성
- dropdown메뉴를 추가해서 채널 선택 가능

[2021-12-18 11:57] AliceOfSNU opened #18 "3인칭 컨트롤러"
### Third Person Controller with Camera Movement

[reference]
https://www.youtube.com/watch?v=FbM4CkqtOuA

[features to implement]
- Cinemachine
- add and customize unity starter asset's third person camera
- edit controls

[2021-12-18 13:39] AliceOfSNU opened #19 "아바타 캐릭터 컨트롤러"
Avatar controller
[To implement]
- animation (idle, walking motion)
- character controller script

[2021-12-19 01:53] AliceOfSNU commented on #19
Rigidbody 는 잘 잡힌것 같은데 m_movement가 항상 0인걸 못풀었어요ㅠㅠ
그냥 controller 코드를 starter asset에서 가져와서 avatar 붙였습니다

https://user-images.githubusercontent.com/86138312/146660734-4e76374a-b161-477e-8662-8d0d7681518c.mp4

일단 제법 잘 돌아가는걸 확인하실 수 있을거에요

[Added]
- Move(WASD, arrow keys), Look(mouse), Sprint (shift), Jump(space), Fall
- Virtual camera look

[Comments]
- **Mouse is locked on play mode** -> take cursor ou

[2021-12-19 02:26] AliceOfSNU commented on #19
코드 확인및 기능 체크에 도움이 되도록 간략한 설명 적어서 올리겠습니다

[2021-12-19 03:17] AliceOfSNU commented on #19
@reviewers!
많은 파일들이 수정되었지만 실제로 제가 바꾼 파일은
![Screenshot_20211219-121048_Chrome](https://user-images.githubusercontent.com/86138312/146662389-163ebffb-67b7-4110-8976-8a06b37e1df6.jpg)
얘 입니다
저게 input에서 vector2, bool등 정제된 값을 받아서
(입력 자체를 담당하는 스크립트는
Starter Asset > Input system> StarterAssetsInputs)
캐릭터의 속도, 방향, 낙하및 점프, 카메라 앵글 등을 set합니다.

**Starter Asset > Third person control > Scenes > Playground**
에 뛰

[2021-12-19 03:28] #18 closed, assigned to nobody

[2021-12-19 03:43] AliceOfSNU opened #21 "Character Controls"
## 목적
- Character Controller
   input 을 받아 캐릭터가 움직이고 방향을 바꿀 수 있도록 함.
   input은 **new input system**을 사용함
   move와 look 뿐만 아니라 sprint, jump 도 구현하고,
   추가 액션들을 간편하게 구현할 수 있는 확장성을 지향함.
- Virtual Camera
   powered by **Cinemachine**
   캐릭터를 따라다니고, 캐릭터 시선방향과 cursor input에따라
   보는 방향을 바꿈
   상황에따라 다른 virtual camera 로 점프할 수 있도록 확장성!

## 작업 상세 내용
- Controller
    StarterAssets> Third Person Controller > sc

[2021-12-19 04:40] AliceOfSNU commented on #21
## Components all **avatars** must have:
- Third Person Controller Script
![image](https://user-images.githubusercontent.com/86138312/146663944-fc2ef061-4fc5-4400-8cd3-d33e40f81a06.png)
assign **camera follow target** of the avatar to the Cinemachine Camera field
![image](https://user-images.githubusercontent.com/86138312/146663967-7a83b914-3d1c-4d31-b224-c2b85c80aa5d.png)

- Character Controller

[2021-12-19 04:45] AliceOfSNU commented on #21
## All Avatar gameobjects must be
- tagged player and layer ground (only the top level on ground layer, the bones and joints in default layer)
![image](https://user-images.githubusercontent.com/86138312/146664120-bbf36748-2869-4639-899f-ba8f173d9911.png)

- A Follow Target to be assigned to a virtual camera
![image](https://user-images.githubusercontent.com/86138312/146664163-230253fd-c77b-4b6b-83

[2021-12-19 04:51] AliceOfSNU commented on #21
## Virtual Camera
- the main camera must have **main camera** tag and a **Cinemachine brain** component!
(need not change any cinemachine brain settings)

- use the virtual camera in prefab, or add new one by Cinemachine>CreateVirtualCamera
![image](https://user-images.githubusercontent.com/86138312/146664257-91f4ec67-cdcc-45a4-8e49-9359e8ae1021.png)

- when creating your own virtual camera, set m

[2021-12-19 05:36] AliceOfSNU commented on #21
[Character Controller.pdf](https://github.com/XREAL-SNU/xTown/files/7740365/Character.Controller.pdf)

[2021-12-20 03:09] AliceOfSNU opened #22 "표준화작업_ 디렉토리 정리"
목표:
프로젝트 directory를 어떻게 정리하고 관리할지 논의

1. 외부 에셋을 어느 폴더에 관리할지
2. Scene마다 폴더를 따로 둘지, 둔다면 각 scene의 폴더 구조는 어떻게 되어야 하는지
3. 기능단위로 폴더를 따로 둘지, 둔다면 각 기능의 폴더 구조는 어떻게 되어야 하는지

를 논의해 보았으면 좋겠습니다.

[2021-12-20 03:30] AliceOfSNU commented on #22
일단 제 생각은 Scene별로 폴더를 둘지는 조금 더 후에 여러 scene들이 만들어지면 생각해 보더라도,
top level (project root 또는 scene root) 밑 구조는 대략 다음과 같이 가져가면 어떨까 합니다

![image](https://user-images.githubusercontent.com/86138312/146713382-c663a6fd-7894-47a6-b6a5-9069937ad046.png)

- Scripts: all .cs files -> 기능별로 분리
    ㄴ Chat@Server
    ㄴ VoiceChat@Server
    ㄴ AvatarControl@Avatar
    @뒤는 namespace와 일치 com.XReal.Xtown.Server

- Static

[2021-12-20 03:42] AliceOfSNU commented on #22
모든 폴더이름은 대문자 시작 camelcase 였으면 좋겠습니다

[2021-12-21 05:23] AliceOfSNU commented on #19
아직 코드 컨벤션에 대한 논의가 안되어 있는만큼 refactoring할 가능성이 크므로.....
**코드 보다는 제가 위에 더했다고 주장한 기능들이 잘 돌아가는지 각자의 컴퓨터에서 확인**하는 것으로 리뷰 부탁드립니다!

bugs and suggestions 적어주세요.

[bug]

[suggestions]
- 클릭 안한 상태로 드래그 해도 카메라 각도가 계속 바뀌는데 클릭한 후에 드래그 하는거 혹은 alt누른채로 드래그 하는걸로 바꿈
- 카메라 줌인, 줌아웃 (+/- 키 바인딩?)

[comment]
**캐릭터 컨트롤러는 starter asset Third Person** 을 사용합니다.
이 컨트롤러가 dev로 머지 되었다고 해서 학회에서 앞으로도 이 컨트롤러를 사용하자고 하는것은 아니고,,
학회원분들중

[2021-12-21 06:33] #21 closed, assigned to Hyewon0309, AliceOfSNU

[2021-12-21 06:33] #19 closed, assigned to Hyewon0309, AliceOfSNU

[2021-12-21 12:26] AliceOfSNU opened #23 "공간을 scene으로 분할하는 건"
## Scene 분할 관련

저희가 photon을 멀티플레이어 엔진으로 사용하는 것으로 정해졌고,
이에 학회 월드 공간을 scene들로 나눠 어떻게 포털로 연결할지 기획해야 할 단계에 있습니다.

전체 월드 내에서 "logical"한 공간별로 Scene을 분리할 것인가
(예: 건물내부와 외부가 다른 scene, 건물 들어갈때 scene로드)

아니면 전체 공간을 하나의 scene으로 할 것인가

를 결정해야 합니다.

포탈을 만드는 등 다음 단계로 가는데에 중요한 결정일 거 같습니다. 댓글을 통해 귀한 의견 많이많이 적어주시길 부탁드립니다!!! 아래에는 제가 지금 생각해본 장단점을 적었습니다만, 제가 놓친 부분이나 잘못 생각하고 있는 것 같은 부분은 놓치지 말고 지적 부탁드립니다.

장점
1. modular

[2021-12-21 12:31] AliceOfSNU commented on #23
저는 사실 확장성, 성능등을 이유로 건물마다, 혹은 필요하면 그보다 더 소단위로 scene을 나누자는 생각입니다. 다만 제가 제일 걱정하는 부분은 단점(2)에서 제기되는 consistency문제가 얼마나 유저경험에 영향을 미칠지 입니다. 예컨대 A가 어떤 건물 예컨대 카페에 들어갔다고 합시다. 그 카페에서는 알바가 B이규 B는 A의 친구입니다. 근데 카페 밖으로 나갔다가 들어오는데 이때 포톤엔진이 룸을 새로 배정해서 알바가 C인 카페로 들어가는... 그런 상황을 저희 월드에서 벌어질 수 있는 시나리오인지에 대해 고민해 봐야한다고 생각합니다..

[2021-12-21 12:44] AliceOfSNU commented on #23
또한 제가 알기로는 디자인팀에서 주신 메인 룸?(월드 중앙에 제일 큰 건물)이 안이 보이는 구조인데, 그러면 저 건물은 scene을 별도로 빼기가 힘들 것 같습니다. 지금 월드가 얼마나 클지 모르겠지만, 일단 저 메인룸 사이즈+ "건물 밖" 실외공간은 한 scene에 들어갈텐데, 그 scene을 카메라로 렌더링하는게 성능에 문제가 없는지도 생각해보면 좋을 것 같습니다. 물론 다 만들고 너무 느리면 패치하면 되지만, 미리 생각은 해보자는 차원에서 얘기해 봤습니다

[2021-12-22 08:22] #12 closed, assigned to nobody

[2021-12-22 08:22] #11 closed, assigned to brainini, Abecid, Bemirror99, Hyewon0309, AliceOfSNU, ahnjinmo

[2021-12-22 14:24] brainini commented on #22
한준님 의견을 기본적인 unity의 폴더 구조를 이요하며 다음과 같이 정리하는 건 어떨까요?

Assets
 - Scenes
 - Scripts
 - Prefabs
 - StaticAssets
 - Shaders

다음과 같이 정리하고, Scenes를 제외한 각 폴더에서 하위 폴더를 각 Scene 이름대로 만들어서 관리하는 것이 좋아보입니다.

Scene별로 폴더를 만드는 것도 좋지만 이후 Scene간의 관계나 위계질서가 생길걸 감안하면 위의 방안처럼 병렬적으로 관리하는 게 좋아보입니다.

[2021-12-23 03:09] AliceOfSNU commented on #22
태구님 의견 좋은 것 같아요. 근데 내가 A라는 scene에서 작업하고 있는데 script짜다가 prefab이 필요하면 상위폴더에서 다시 내 scene을 찾아야 하니까 이동거리가 길어지는것 같은데 장단점이 있는거 같습니다. 생각해보니까 여러 씬에 공통적으로 들어가는 파일들이 많을거 같아서 이런 경우엔 기능 단위로 폴더 이름을 파야 될지, 아니면 그냥 common 하위 폴더에 둘지..

[2021-12-23 03:17] AliceOfSNU commented on #22
저번에 namespace 관련 얘기가 나왔었는데
<img width="705" alt="1640228991758" src="https://user-images.githubusercontent.com/86138312/147182274-1ebdf14a-9400-41f7-892c-33061a81169a.png">
요거 서버팀 과제 튜토리얼에 나온것 보고 말씀하신거 같은데
저도 GameManager, Controller 같은건 충분히 충돌 날 가능성이 있으니 필요하다고 생각합니다.

이름은

XReal.XTown.PhotonServer
XReal.XTown.Avatar
XReal.XTown.ScreenShare
이런식으로 가면 될것 같은데 이름을 어느 단위로 짓는게 좋을지,
그니까 chat 과 voicechat과

[2021-12-28 03:45] Hyewon0309 opened #25 "클라이언트_캐릭터 선택 UI 생성"
## 목적

## 작업 상세 내용
- 4개의 아바타 중 하나를 선택하는 UI를 가지는 Scene 생성
## 참고 사항
- https://www.youtube.com/watch?v=3qlRgICRoeA&t=35s

[2021-12-28 03:49] brainini commented on #25
- "클릭 안한 상태로 드래그 해도 카메라 각도가 계속 바뀌는데 클릭한 후에 드래그 하는거 혹은 alt누른채로 드래그 하는걸로 바꿈"
- "카메라 줌인, 줌아웃 (+/- 키 바인딩?)"
현재 playground scene에서만 avatar작동이 확인되는데 다빈님이 만들어놓은 mainroom이 적용되어 있는 mainroom scene에 해당 avatar를 올리고 건축물과 collider가 정상적으로 상호작용하는지 확인할 필요가 있을 것 같습니다.

제가 이전 풀리퀘에서 언급했던 위의 사항들도 추가적으로 구현이 필요해보입니다.
+ 더불어 지금 아바타의 경우 앉기버튼을 눌렀을 때 애니메이션이 자연스럽지 않습니다. 해당 사항도 추가 필요해보입니다.

[2021-12-29 09:05] AliceOfSNU commented on #25
클릭후 드래그로 앵글 조절 및 + - 로 거리 조절 제가 추가할게요..

[2021-12-29 09:41] brainini opened #26 "서버 - lobby, room list, room 선택 추가"
## 목적

## 작업 상세 내용
- lobby, room list, room 선택 기본 UI 세팅 및 환경 구축
## 참고 사항
- https://doc.photonengine.com/ko-kr/pun/current/demos-and-tutorials/pun-basics-tutorial/lobby

[2021-12-30 01:10] AliceOfSNU opened #27 "서버, 클라이언트 - Yacht Dice 미니게임 추가"
## 목적

[2021-12-30 02:03] AliceOfSNU commented on #27
added yacht dice to xtown project [branch: #27-Yacht]
### to do

- [x] migrate to new input system -> needs understanding of client logic
- [x] add photon and test taking turns without duplicating ui, for now.
- [x] duplicate all required ui(scoreboard)
- [x] add taking turn game logic
- [x] add win/lose logic
- [x] integrate with join room (lobby)

[2021-12-31 06:43] Hyewon0309 commented on #25
현재 진행 상황 공유드립니다.

- CharacterSelect Scene 생성해 4개의 customized avatar 중 하나를 선택해서 시작하는 기능 추가
- MainRoom Scene에 선택한 avatar 불러오기
- Avatar Controller, 콜라이더 구현
- Cinemachine을 이용한 카메라 구현

Todo

- [x] 클릭 후 드래그로 앵글 조절
- [x] + - 로 줌 인, 줌 아웃 구현

- Avatar의 앉기 애니메이션의 경우, 의자에 앉는 모션으로 보이는데 현재 MainRoom Scene에는 의자가 없어서 일단은 제외하려고 하는데 의견 부탁드립니다.

[2021-12-31 07:17] ahnjinmo commented on #25
어차피 아직은 베이스라인이 목적이니까, 보여주기 위한 용도로 MainRoom Scene에 간단하게 의자 오브젝트를 넣어도 크게 문제는 없을 것 같기는 합니다. 그리고 character-select 브랜치에서 앉기를 하면 아래 영상처럼 되던데 맞나요?

https://user-images.githubusercontent.com/89832796/147808706-81a47edd-a8aa-49bc-8961-6c7681482e20.mp4

[2021-12-31 07:22] Aimee0122 opened #29 "클라이언트- 화이트보드 기능 추가"
## 목적

## 작업 상세 내용
- [색깔별 펜과 지우개 기능 및 보드 구현 ]
## 참고 사항
- https://docs.agora.io/en/whiteboard/join_whiteboard_room_android?platform=Android
- https://www.youtube.com/watch?v=Rir4A1cr03E

[2021-12-31 07:58] Hyewon0309 commented on #25
네 맞습니다. 그 모션이 말씀드린 의자에 앉는 모션인 것 같은데 의자를 추가해 한 번 확인해보겠습니다. 지금은 다른 앉기 애니메이션도 찾아보는 중입니다.

[2021-12-31 09:26] ahnjinmo commented on #25
찾아보니까 mixamo 애니메이션 import할 때 setting에 문제가 있어서 저렇게 애니메이션이 이상하게 나온 거네요. 아래와 같이 먼저 sitting animation의 Import settings에서 Rig setting을 Humanoid로 바꾸고, Animation setting에서 Root Transform - Bake Into Pose를 모두 체크하면 영상처럼 정상적으로 작동합니다!
![humanoid](https://user-images.githubusercontent.com/89832796/147815470-0c509a86-1b56-4a83-ad70-08acff40afb2.png)
![fwef](https://user-images.githubusercontent.com/89832796/14

[2022-01-02 15:33] brainini commented on #25
제가 로컬에서 merge 하여 #26-lobby branch에 push하여 풀리퀘 반영하였습니다 확인 부탁드립니다.

[2022-01-03 02:55] Hyewon0309 commented on #25
확인했습니다:) 앉기 모션 빼고는 다 잘 작동하네요

[2022-01-03 03:07] #25 closed, assigned to nobody

[2022-01-05 15:13] AliceOfSNU opened #38 "서버, 클라이언트 - #31 Yacht Dice 2Players"
## 목적

## 작업 상세 내용
- [x] 순서 주고받는 로직 (Turns manager)
- [x] 멀티 모드에서 score board 상대방 점수 추가
- [x] 컵 동기화
- [x] 자기 순서에 맞게 control을 넘겨주는 로직
- [x] 주사위 동기화
- [ ]  주사위 던진 결과 정보 주고받는 인터페이스 구현
- [x]  Strategy 선택 결과 정보 주고받는 인터페이스 구현
- [x]  둘의 점수 비교, 승자 판별 로직 (진홍님께 부탁..)
- [ ]  플레이어 두명만 받도록 방 join 로직
- [x]  xTown 프로젝트에 붙이기

[2022-01-05 15:17] AliceOfSNU commented on #38
![initPlan](https://user-images.githubusercontent.com/86138312/148241188-a53a0602-2224-4ffc-a45e-56e63fecc3c4.png)
저희가 게임의 어느 시점에 어떤 정보들을 남한테 pass 할 것이고,
어떤 정보들은 local에서 처리할 것인지 정해야 합니다

- 굴려진 주사위 숫자들과 rollcount(?)
- 두개의 dice 목록 (if changed.) 순서도(?)
- 선택한 strategy
- turn (몇번째 턴인지, 누구 턴인지)

위 그림은 대강 그 흐름을 정리해 놨습니다.. 진짜 대강대강.

[2022-01-05 15:20] AliceOfSNU commented on #38
클린한 진홍님 클라이언트 코드만 있는 버전으로 내일 오후중에 브랜치를 파겠습니다! 월요일날 봬요

[2022-01-06 07:30] JasonK2K commented on #38
넵 ㅎㅎ

[2022-01-06 07:55] AliceOfSNU opened #40 "ColdFix: 야추 멀티플레이 로직 롤백"
## 목적
야추 멀티플레이 로직이 로비 로직과 충돌하여 야추에서 멀티플레이 로직 삭제,
포털도 삭제하여 새로 Scene연결 작업 필요.
앞으로 멀티플레이 로직 작업은 issue 판대로 client팀과 server팀 협업으로 진행 예정.

[2022-01-07 08:22] AliceOfSNU opened #42 "서버 - Text chat"
## 목적

## 로드맵
- [x] 개발팀 기능 기획
- [x] UI팀기획
- [x] 기획 피드백, 확정
- [x] 코딩
- [ ] 테스트

[2022-01-07 09:54] AliceOfSNU commented on #42
### 김한준 idea
- 채팅방 새로 생성 가능 with options -> Create Channel
- 내 채팅방 목록 페이지 -> 채팅방 간 이동
- 채팅방 생성시 private channel과 public channel 선택 가능
![image](https://user-images.githubusercontent.com/86138312/148526147-3de3bfd4-b5c3-49e3-9f1d-d27a52f68335.png)
- 월드 안에 존재하는 public 채팅방 목록 -> 여기서 subscribe, join 가능
![image](https://user-images.githubusercontent.com/86138312/148541694-d1aab275-7637-4911-ac9e-3c21ff4

[2022-01-08 04:11] #23 closed, assigned to nobody

[2022-01-08 04:12] #40 closed, assigned to nobody

[2022-01-08 07:15] AliceOfSNU commented on #38
https://github.com/AliceOfSNU/NetcodeYacht/tree/dev
작업내용
- [x] 상속 방식으로 코드 추가한다고 가정, 수정이 필요한 스크립트들 모두 subclass 만듬
- [x] 자기 턴이 아니면 기다리는 로직 추가
- [x] 턴을 주고 받는 로직 추가
- [x] 주사위 던진 정보 등을 주고 받을 수 있는 인터페이스는 추가했으나, 아직 게임에 integrate하진 않음
- [x] 네트워크 연결 없을 시 싱글플레이 로직을 사용하도록 코드 추가

[2022-01-08 07:42] Hyewon0309 opened #43 "클라이언트(아바타) - 감정표현 기능 추가"
## 목적

## 작업 상세 내용
- [x] T 키에 바인딩
- [x] 사용할 감정 표현 이미지 4가지 결정
- [ ] 감정 표현 기능 추가
## 회의 내용
- T 키에 바인딩
- 감정 표현 종류는 4가지로 결정 (3D 애니메이션 추가하면 2D 감정표현의 경우에는 많이 사용되지 않을 것으로 판단)
- 기존의 감정표현 기능과 같이 2D 이미지를 사용하기로 결정
## 참고 자료
- 감정 표현 UI 참고 예시
![image](https://user-images.githubusercontent.com/77331013/148636264-d6dea2e0-8b2e-4658-be35-7bd6a4c1e868.png)
- 감정 표현 기능 구현 예시 (플레이어 머리 위에 띄울 예정)
![image](https://user-im

[2022-01-08 14:09] JasonK2K opened #44 "클라이언트(미니 컨텐츠 팀)- PocketBall 게임 완성하기 (1/3)"
## 현재 상황
- [현재 포켓볼 다이, 공, 그리고 물리 법칙이 잘 적용되어있는 상태임. test를 위해, 흰공을 클릭했을 때 (1,0,0) 방향으로 힘을 받도록 적용이 되어있음.]
## 해야 할 일
- [PocketBall 게임 코드 이해하기. (김민석에게 마구마구 질문!!!)   흰 공을 클릭했을 때, 카메라가 바라보는 방향으로 힘을 받도록 설정하기.] -------------- due: 1/12(수)

[2022-01-10 15:15] Aimee0122 opened #45 "클라이언트(생산성 도구 팀)- 유니티 시계 구현"
## 현재 상황
- [유니티 시계 베이스라인 제작 튜토리얼을 공유하였으며, 기본 베이스라인 구현과 함께 각자 원하는 추가 기능 (ex. 알람)을 더하여 과제 제출 예정 ]

## 해야 할 일
- [과제 수합 이후 각자 구현해온 기능에 대한 피드백 / 실행 시 오류 여부 확인  ]

## 참고자료
- [https://youtu.be/_jqWxUFbNrg]
- [https://youtu.be/pbTysQw-WNs]

[2022-01-11 05:21] AliceOfSNU opened #46 "서버 - Rooms interface"
## 목적

[2022-01-11 13:27] cloNoey commented on #42
### 곽승연 addtional Idea
#### Room chat 과 World chat으로 구분
- Room chat의 경우, room이 생길 때부터 파괴될 때까지만 존재하므로, 개인(유저)의 chat 목록에 추가하기보다는 room자체에 두는 것이 좋을 것 같다는 생각.
- 왼쪽 하단에 room chat을 만들어 room 내부에서, room에서의 활동에 관한 소통이 가능하도록 구분하는 것이 좋을 듯함.
- > room subscriber list도 확인할 수 있도록 구현

.

- World chat의 경우, 버튼을 통해 어디에서나 실행 가능하도록 구현하는 것이 좋을 듯함.
- Room chat과는 별도로 구현.
- Lobby에서 실행되는 chat은 original version으로, 저번 회의에서 말한

[2022-01-12 03:31] Gyu1291 commented on #42
1/12

- 내 채팅과 상대방의 채팅을 구분
- 각 채널별로 올라오는 채팅을 말풍선 모양으로 띄우기 (Instantiate)

두 가지 기능을 완성해보려고 합니다.

[2022-01-12 08:22] AliceOfSNU commented on #46
### Jan12
- [x] lobby 의 canvases를 모두 singleton 으로 처리
 -> singleton 코드 통일! : wiki에 관련 convention 작성
 -> loading screen없음! -> 아직 **photon에 connect 되지 않은 상태에서 set NickName버튼 누르면 문제 됨**.
- [x] 옛날 버전 아바타 instantiate 및 위치, 에니메이션 동기화
- [ ] 룸 나갔을 때 오브젝트 존속 기능 테스트
- [ ] ownership 기능 테스트
- [x] 룸 내부에서 볼 수 있는 패널 활성화

[2022-01-12 11:54] AliceOfSNU commented on #46
![image](https://user-images.githubusercontent.com/86138312/149135790-e68d1cec-26de-45b7-b0a6-3c15851bf4ad.png)

[2022-01-12 12:27] ahnjinmo commented on #45
## 구현하려는 기능
* 시계에 **알람**을 설정하고, 설정된 시간이 되면 특정한 이벤트가 발생하는 기능

## 레퍼런스
https://youtu.be/sGo3Vnvq43k
<details>
<summary>펼치기</summary>
<div markdown="1">

1. 알람 아이콘 선택
<img src="https://user-images.githubusercontent.com/89832796/149056929-46b74088-885f-4262-bf47-01278fed1a9c.jpg" width="100">

2. 알람 설정 패널 팝업
<img src="https://user-images.githubusercontent.com/89832796/149056938-86d31f64-13b6-4e53-80a9

[2022-01-12 14:18] Gyu1291 commented on #42
사용자의 메시지 분류는 저번에 시도했던 것과 비슷한 방식으로 진행해
Public Chat, Private Chat에서 각각 분류를 성공했고 이와 함께 자잘한 오류가 나는 부분들을 수정했습니다.

이후로 시간이 많지 않고 생각보다 생각해 보아야 할 부분들이 꽤 있어
 이를 말풍선으로 화면에 띄워주는 과정은 완료하지 못했습니다.

내일도 다른 일정을 비우고 계속 진행할 예정입니다.

해당 기능이 완성되면 Public Chat과 Private Chat은 완성되고
특정 인원만 가입해 대화하는 단톡방, 친구 초대 기능(UI 작업된 것을 보면 프로필 사진과 닉네임이 필요할 거 같은데 일단
Public Chat에서 목록을 받아와 띄워주는 정도로) 개발을 진행해보려고 합니다.

[2022-01-12 14:54] cloNoey commented on #42
![0112_1](https://user-images.githubusercontent.com/95578121/149158930-e3179af3-8d53-48f1-9d23-2eb55ad78ad4.PNG)

Room Chat에서는 현재 방에 들어와 있는(Subscribe한) 사람들의 목록을 볼 수 있게 하는 버튼을 구현하여,
 버튼을 누르면 목록이 띄워지고 다시 누르면 사라지도록 하였습니다.

![0112_2](https://user-images.githubusercontent.com/95578121/149159205-2388e045-f3db-4b92-bbd6-987c7718a835.PNG)

![0112_3](https://user-images.githubusercontent.com/95578121/14915

[2022-01-13 04:27] ahnjinmo opened #48 "클라이언트 - 새로운 아바타 추가"
## 목적

[2022-01-13 14:07] MondaySHB commented on #45
다음 주 회의 전까지 가능하면 panel에 알람 시간 목록 listing 기능 추가

[2022-01-13 14:46] cloNoey commented on #42
### [Chat] CreateRoom
UI팀의 기획서(pdf 13p)를 기반으로 <채팅방 만들기> View 구현을 첫 번째 과제로 삼고 작업을 진행했습니다.

![220113](https://user-images.githubusercontent.com/95578121/149350132-f1c26fa8-8d97-48dd-b496-0a461c7851e0.PNG)
방에 들어온 임의의 유저 List<string>를 Storage 스크립트에 저장해놓고, 해당 리스트를 CreateRoomManager에서 받아 기획한 UI대로 구현되도록 하였습니다.

오늘 진행한 작업은 아직 방 생성의 단계 이전이므로, 선택한(using Button) 유저와 입력 정보를 기반으로 새로운 채팅방을 구성할 수 있도록 할 예정입니다.
이후

[2022-01-14 08:26] Gyu1291 commented on #42
1/14

말풍선 구현이 좀 어려워 일단 유저를 직접 초대하는 채팅방부터 만들어보기로 했습니다.
(승연님 UI도 마침 나온 덕분에)

현재 새 채널을 생성하고 특정 인원들을 해당 채널의 channel.Subscribers에 추가하는 코드를 작성했습니다. (특정 인원들 채널에 초대, 해당 채널로 메시지를 Publish하면 해당 유저들이 받게될 것)

또한 ChatChannel api를 아래와 같이 수정했습니다.
- protected set으로 설정되어있는 maxSubscribers를 set으로 바꿔 클래스나 상속된 클래스 외부에서 maxSubscribers를 수정 가능하게 함. 이를 통해 UI에서 초대인원을 설정해주면 해당 초대인원에 맞게 maxSubscribers가 설정됨.

- channel.Current

[2022-01-14 08:42] Gyu1291 commented on #42
그리고 지금 유저가 채널을 Subscribe하는 코드를 수정해 특정 룸에 들어갈 때는 제약을 주려고 하는데 초대받지 않은 유저가 특정 채널을 구독하고자 할 때 어떤 방식으로 구현할지 얘기해보면 좋을 것 같습니다.
일단 생각나는 것은
- 애초에 초대를 안 받으면 참여 못하게 한다.
- 비밀번호를 설정해 입력하도록 한다.
(chatchannel을 수정해서 비밀번호 비슷한 기능을 만들어 볼 수 있을 것 같습니다)
등이 있습니다.

[2022-01-14 14:52] AliceOfSNU opened #50 "[Production]서버 - Rooms 관련 버그잡기!!"
## 목적

[2022-01-14 14:53] AliceOfSNU commented on #50
![image](https://user-images.githubusercontent.com/86138312/149535433-cda7d37e-675e-4c52-b7c9-d9826a400ae2.png)
1. Alice와 Bob이 lobby에 있을때,
2. Bob이 포탈에 가서 room을 만든 후,
3. Alice가 포탈에 가면 Bob이 생성한 room이 안보임.
(둘 다 포탈에 접속해 있는 상황에서는 보임!)

-> cause: Room listing 하는 캔버스가 disable 되어있는 동안은 RoomListUpdate를 받지 못함. 따라서,
Bob이 room을 만들어도 포탈에 없는 Alice는 roomListUpdate를 받지 못하고,
room의 생성과 소멸은 phot에 버퍼되지 않고 생성 및 소멸시에만

[2022-01-14 15:16] AliceOfSNU commented on #50
룸들의 스케일이 달라서 문제가 되는 부분
-> instantiate시 mainroom에선 걷는게 충분히 빠른데, gameScene에서는 너무 느림!

[2022-01-14 16:10] AliceOfSNU commented on #50
List to check

- [x] Non-master leaves room properly.
- [x] Master leaves room properly.
- [ ] Rejoin after leave
- [x] Proper destruction of room when all players leave.

[2022-01-14 16:12] AliceOfSNU commented on #50
### Non - master leaves room somewhat properly
- 나간 사람은 lobby 로 이동, main scene load. (ok)
- 안나간 사람들의 CurrentRoomCanvas PlayerListing에서 나간 사람들은 삭제됨 (ok)
- 나간 사람이 같은 방에 다시 접속 시도 -> 이상해.. 안돼! (not ok) (아래 사진 Alice가 Bb에 재접 시도 참고)
![image](https://user-images.githubusercontent.com/86138312/149550740-4fb7ec5d-b04a-4cc2-8063-6d8a26618a13.png)

### Master leaves room properly
- 나간 사람은 lobby로 이동, main scen

[2022-01-15 05:42] AliceOfSNU commented on #42
말풍선 어려운만큼 일단은 간단하게 네모로 해도 괜찮을 것 같습니다. (Vertical layout group에서 ... 각 box의 height만 text양에 따라 - 자동 스케일... 그게 어렵네요 ㅋㅋㅋ)

set 개수는 count 아닐까요. 일단 코드 리뷰 해보겠습니다!

[2022-01-15 11:51] Aimee0122 commented on #45
<1차 디벨롭-버튼 추가>
- 화면 우측 상단 버튼 클릭 시 각각 기본 시계/ 스탑워치 / 타이머 나오도록 구현
- 각 화면에서 다시 로비로 돌아갈 수 있도록 Back button도 구현

[2022-01-15 12:33] tehokim opened #51 "클라이언트(아바타) - 아바타 커스터마이징 기능 구현"
## 목적

## 작업 상세 내용
- [x] 아바타 모습 확인 구역
- [x] 커스터마이징 설정 구역 & 버튼
- [x] 카메라 줌인 & 이동
- [x] 카메라 리셋 버튼 (+)
## 참고 사항
![image](https://user-images.githubusercontent.com/95514277/149621843-1a9d9f5f-ad76-4baa-90d1-1e50a5d2b7b6.png)
- 아바타 모습 확인 구역
   1) 롤플레잉 게임 카메라 컨트롤 (유니티 3D)/ 마우스로 카메라 움직이기, 시점 조작 in 3D RPG
URL: https://www.youtube.com/watch?v=m5Ul-W4Sxqo
- 커스터마이징 설정 구역 & 버튼
  1) Unity Game Creator - Create

[2022-01-15 14:04] JasonK2K opened #52 "클라이언트-미니맵 UI 만들기"
## 해야 할 일
![image](https://user-images.githubusercontent.com/83547121/149624385-172fcde0-7bba-4611-8d63-1a17814450da.png)

![image](https://user-images.githubusercontent.com/83547121/149624401-35712e6b-2234-4673-b230-3089cb3e7324.png)

![image](https://user-images.githubusercontent.com/83547121/149624417-f486549e-922b-4346-b26c-8a07cfc35ac0.png)

위와 같은 기능 구현 리서치.
태구 님이 world branch bug fix 하셔서 mer

[2022-01-15 14:25] ahnjinmo opened #53 "클라이언트 - 메인 화면 UI 프레임 구현"
## 목적

## 로드맵
- [x] 7, 8, 9, 12번 구현
- [x] 1, 2번 구현
## 참고 사항
- 메인 화면 UI 와이어프레임 기능명세서
![MAIN](https://user-images.githubusercontent.com/89832796/149625088-dc5a5f92-06b6-4fb3-95fe-8b17f755c447.jpg)

[2022-01-15 15:55] brainini commented on #50
첫 comment에 달려있는 roomlist update받지 못하는 건은 해결했습니다.

[2022-01-15 15:55] brainini commented on #50
재접속 관련된 건은 어떤 사항인지 잘 이해가 가지 않고 제 로컬에서는 잘 돌아가는 것 같아서 한준님 만나서 같이 해결해보면 좋을 것 같습니다.

[2022-01-15 16:04] brainini commented on #50
![image](https://user-images.githubusercontent.com/37990422/149628445-6bed6bb0-c570-484f-9f44-136eb11a8c89.png)

[2022-01-15 16:33] tnsqjahong opened #55 "클라이언트팀 - 아바타 확인 화면 구현"
## 목적

## 참고 사항
- 아바타 확인 화면 명세서
![image](https://user-images.githubusercontent.com/52613351/149629555-437b2ead-e94d-4e40-a960-4a42655f3d6a.png)

[2022-01-15 16:45] brainini commented on #50
위에 오류가 발생하네요.
GameScene에 들어갔다가 RoomOptions를 눌러서 CurrentRoomCanvas를 띄우고 거기서 LeaveRoom을 눌렀을 때 해당 오류가 발생하는데 이유를 모르겠네요

[2022-01-15 17:01] #48 closed, assigned to ahnjinmo

[2022-01-15 17:04] #9 closed

[2022-01-15 17:04] #17 closed, assigned to nobody

[2022-01-15 17:05] #22 closed, assigned to brainini, Abecid, Bemirror99, Hyewon0309, JasonK2K, AliceOfSNU, ahnjinmo, Aimee0122

[2022-01-15 17:05] #26 closed, assigned to nobody

[2022-01-15 17:05] #29 closed, assigned to Aimee0122

[2022-01-15 17:06] #46 closed, assigned to nobody

[2022-01-16 04:52] be9904 opened #57 "클라이언트(아바타) - 아바타 표정 구현"
## 목적

## 작업 상세 내용
- 표정별 texture baking
- 입력키(미정)에 따라 헬멧에 보이는 표정 변경
## 참고 사항
- 모델은 헬멧, 몸, 신발, 장갑과 가방(?)으로 나누어져 있습니다. 아래 사진처럼 표정을 표현하려면 모델을 직접 편집하여 texture를 생성하고, unity에서 이를 별도의 material로 묶어주면 구현이 가능할 것 같습니다.
![helmet_uv](https://user-images.githubusercontent.com/61895947/149647495-c914768d-6c95-4164-be58-676dc8b16230.PNG)
- 진홍님께서 만들어주신 자료 (https://www.notion.so/2021sprinter/7fbeebb0e35b4d138505541

[2022-01-16 08:15] AliceOfSNU commented on #50
확인하겠습니다

[2022-01-17 07:53] JasonK2K opened #60 "클라이언트(미니 컨텐츠 팀) - 공에 힘을 가하는 부분, 힘 조절 UI"
## 해야 할 일
- 다음 주 issue
    - 다음 주(or 그 다음 주까지)까지는 제가 top-down으로 정한 주제에 대해 구현을 해보려고 합니다.
    1. 공의 어떤 부분을 때릴 것인지 조절하는 기능 및 UI 구현.(위 링크 유튜브 영상의 빨간 점을 생각하시면 됩니다.) → 실제로 그 부분에 힘이 가해지도록.
    2. 마우스를 누르고 있는 동안 파워 충전 (ex. 조금 누르면 1 ~ 많이 누르면 100) 하여 힘 조절 구현. 그와 동시에 얼만큼 눌렀는지 UI 구현하기. (아니면 마우스를 두 번 눌러서 파워를 결정하는 방법도 좋을 것 같습니다!!)
    - 예시 이미지

    ![골프 게임에서 많이 나오는 오른쪽 UI. 혹시 팡야 골프 아시는 분 계신가요 ㅋㅋ](https://s3-us-

[2022-01-17 09:36] brainini opened #61 "서버 - agora voice chat 기능 추가 도전"
## 목적

## 작업 상세 내용
- [ ]
## 참고 사항
- [ ]

[2022-01-17 10:34] MondaySHB opened #63 "서버 - 아바타 확인"
Main room 이전 설정된 아바타 확인

[2022-01-17 11:56] #55 closed, assigned to nobody

[2022-01-17 11:56] tnsqjahong commented on #55
아바타 확인 화면은 네트워크 팀과 겹치는 부분이 많아서 이슈 닫습니다

[2022-01-18 05:25] AliceOfSNU commented on #38
01월 18일 작업할 내용
- XTown에 지금 작업하는 내용 다 연결 (yacht게임 내 포톤 코드를 저희 xtown 포톤 코드로 바꿔치기)
- 주사위 동기화
- 주사위 던진 결과 정보 event로 주고받기.

[2022-01-18 05:32] AliceOfSNU opened #67 "서버 - Photon 네트워킹 상태 표시 및 진단"
## 목적

-> 유저가 네트워크 상태에 대한 정보를 받을 수 있도록 하고,
 wifi 불량등의 문제로 튕겨 disconnect되었을 때 알 수 있도록 메시지 표시함.

## 작업 상세 내용
- [ ] loading screen
- [x] disconnect 시 메시지 표시 및 로깅
---- optional 추가 작업 ----
- [ ] disconnect 시 자동으로 재접속 시도

[2022-01-18 05:41] AliceOfSNU commented on #38
----------- Task board -----------
- [ ] 주사위 동기화
- [x] 주사위 던진 결과 정보 주고받는 인터페이스 구현
- [ ] Strategy 선택 결과 정보 주고받는 인터페이스 구현
- [ ] 둘의 점수 비교, 승자 판별 로직 (진홍님께 부탁..)
- [ ] 플레이어 두명만 받도록 방 join 로직
- [x] xTown 프로젝트에 붙이기

[2022-01-18 06:32] AliceOfSNU commented on #38
- singleplay 방법 : portal 통해 접속하지 않고 바로 yacht scene에서 플레이 하면 single play mode.
![image](https://user-images.githubusercontent.com/86138312/149882533-8302d6b2-ecdf-42c4-8305-570363edc374.png)

- 기본적으로 포탈로 들어가면 멀티플레이임.
(이걸 singleplay로 선택하는 옵션을 넣을 수 있겠는데 일단 멀티플레이 잘 돌아가면)

[2022-01-19 03:37] ahnjinmo commented on #45
## 1차 디벨롭 (1/12~1/19)
- [X] 알람 여러 개 추가 및 리스팅 기능 (추가만 가능하고 실제 알람 기능과 연동은 구현되지 않음)

## 아직 구현되지 않은 사항 (1/19~)
- [ ] 시간 설정 시 +, - 버튼 동작
- [ ] 설정된 알람들 수정하는 기능
- [ ] 추가한 알름들의 실제 알람 기능
- [ ] private/public 알람의 동작 차이

## 추가 디벨롭 가능사항 (1/19~)
- [ ] 오른쪽에 현재 설정된 알람 볼 수 있는 미니 윈도우 구현
- [ ] 알람 이벤트 세부 설정 기능
- [ ] 설정된 알람으로부터 ~초/~분 전 경고 기능
- [ ] 알람 설정 시 현재로부터 +5분으로 설정하는 버튼

[2022-01-19 05:40] AliceOfSNU commented on #38
일단 주사위는 잘 동기화 됩니다.
![image](https://user-images.githubusercontent.com/86138312/150070780-50c1f8bf-57ab-4229-bbdc-b79f84420920.png)

[2022-01-19 07:05] Aimee0122 opened #74 "클라이언트 (생산성 도구 팀)- 스티키노트 구현"
## 현재 상황
- [ 시계 구현과 병행하여 스티키 노트 구현을 시작]
## 계획
- [스티키 노트 1차 베이스라인 구현 전, 각자가 생각하는 스티키노트의 형태와 구현 방식 기록 ]
- [1차 베이스라인 구현 후 회의를 통해 각 베이스라인 확인해보며 피드백 / 스티키노트 개발 방향 구체화 예정]

[2022-01-19 07:26] Gyu1291 commented on #42
수정했습니다!

[2022-01-19 12:10] JasonK2K opened #76 "클라이언트(미니 콘텐츠 팀)- 지난 주차 issue 마무리, 당구 큐대, Event 별 UI 구현"
## 해야 할 일
- 3주차 issue
    - 2주차 issue에서 못한 것 마무리 하기.
    - 당구 큐대 구현하기
    - Event 별 effect, UI 만들기 (GameOver, 턴 넘겨짐, 공 넣었을 때 등)
- 앞으로 더 해야 할 것
    - 카메라 추가하여 자연스럽게 만들기
        - 칠 때는 기존의 카메라를 사용하되, 치고 난 다음에는 전체적인 당구대의 모습이 보이도록 할 것.
        - 추가하고 싶은 내용 회의에서 받기
    - 흰 공이 들어갔을 때 상대 팀이 흰 공 놓을 위치 선정하는 UI 구현(포켓볼 규칙 참고)

[2022-01-19 15:48] MondaySHB commented on #74
https://assetstore.unity.com/packages/tools/gui/sticky-memos-177929?locale=ko-KR
무료 asset인데 영상을 보았고 괜찮은거 같아 import를 해서
사용자 판넬에 추가해볼까 합니다

[2022-01-20 07:34] ahnjinmo commented on #74
## 목표
3D 공간에 놓고 크기, 위치, 각도, 내용 등을 편집할 수 있는 스티키노트

## 레퍼런스
* Spatial에 있는 스티키노트 기능
![001](https://user-images.githubusercontent.com/89832796/150292711-dab21fa7-6455-45bd-a08a-3c2958733d7b.jpg)

## 기능
* 공간 상에 새로운 스티키노트 생성 및 삭제
* 텍스트 편집
* 위치/크기/각도 수정 (해당 스티키노트에 UI요소 바인딩 되어서, UI로 조절)

## 구현에 도움될 만한 참고자료
* UI를 3D 공간 상에 놓는 방법
  * https://youtu.be/Zwgj3mwOVlg
  * https://youtu.be/GuWEXBeHEy8
* 오브젝트를 UI 상에

[2022-01-20 09:04] Gyu1291 commented on #61
https://www.youtube.com/watch?v=WIC7TfScm_M&t=1005s

Agora 튜토리얼 중에 오류가 나서 질문하고 싶습니다!

using UnityEngine;
using agora_gaming_rtc;
using UnityEngine.UI;

public class AgoraTest: MonoBehaviour
    {

        public string AppID;
        public string ChannelName;

        VideoSurface myView;
        VideoSurface remoteView;
        IRtcEngine mRtcEngine;

        void Awake()
        {
            S

[2022-01-20 11:29] JasonK2K commented on #52
미니맵
로컬-
월드- 구현 완료. 다만 줌 인, 아웃 기능을 구현하려면 카메라로 해야 하지 않을까 싶은데,,, 이러면 computing resource가 많이 들어가서 논의 필요.

[2022-01-20 13:05] JasonK2K commented on #52
미니맵
방식은 플레이어의 좌표를 받아서 이동하는 거리를 미니 맵의 scale로 상대적 표시. *현재 속해있는 공간의 scale을 받아와야 함. 3번의 유저 위치 정보는 공통으로 해야 할 것 같다고 생각함.
월드- 1, 3(위치 정보) 구현 완료.
+)줌 인, 아웃 기능을 구현하려면 카메라로 해야 하지 않을까 싶은데,,, 이러면 resource가 많이 들어가서 논의 필요.

[2022-01-21 05:24] tehokim commented on #51
- [x] 뒤로가기 버튼
- [x] 컬러 초기화 버튼 (+)

[2022-01-22 03:00] AliceOfSNU commented on #74
https://youtu.be/HWgCAgKZpI8
이게 진짜 webGL 빌드에서도 돌아가는건지는 의문이긴 한데,
아예 unity gizmos(g,r,s handles)를 runtime에 object위에 띄우는 방법이 있다고 하네요.=
얘도 참고하면 어떨까 싶어요.

----- 아 유료에셋이네요 없던얘기로 ㅎㅎ ----------

[2022-01-22 17:35] brainini opened #81 "네트워크 - mainroom을 photon lobby에서 photon room으로 바꾸기"
## 목적

## 작업 상세 내용
- [x] 현재 Photon 개념에서 lobby로 지정되 있는 mainroom을 room으로 만들어서 mainroom에서부터 player간 소통이 가능하게 하기

- [ ] PlayerTtl, EmptyRoomTtl을 설정해서 Portal타고 Back to Lobby 눌렀을 때 rejoin함수를 실행해서 새로 random한 방을 찾게하는 과정을 줄이자.
- [ ] customproperty에 연결된 scene이름을 적어서 portal에서 filtering

[2022-01-24 02:46] AliceOfSNU commented on #81
제가 생각하고 있던건, 야추 다이스같은 특별한 scene을 제외하고
아바타가 스폰되는 일반적인 room으로 이동하는 경우,
1-a) join random room 기본 + 플레이어 선택으로 현재 인원수 남아있는 룸 중 선택 또는 새 룸 생성
(플레이어가 룸을 직접 선택하는 기능은 친구와 같은 룸에 배정되고 싶을 때 등 필요가 있을 것으로 예상)
( 이 때, 현재 인원수 남아있는 룸들을 디스플레이 할 때는,
  i. 플레이어가 직접 생성한 room(이건 직접 생성한 룸이므로 '방제목'이 있을 것)을 생성 시간순으로 표시
  ii. 그 밑에 createOrJoinRandom으로 자동 생성된 room을 표시 (이건 room443, 447, 뭐 이런식으로 뜰 듯)
)

1-b) 현재는 portal 접속 후 curr

[2022-01-24 02:54] AliceOfSNU commented on #51
혹시 avatar의 customizable property를 저장할 때 쓰는 Data class (monobehaviour 상속x, gameObject에 component로 attach 되는게 아니라, 플레이어한테 예속되는 class로, 약간 static class로 해도 괜찮을것 같다는 생각)를 하나 파서 거기에
1) 헬멧, 수트, 글러브, 백팩 PROPERTY 저장
2) LocalPlayer property(c# property말하는 거임) 로 현재 플레이어 아바타 gameObject를 반환_
예컨대 클래서 이름이 PlayerAvatar 라고 하면, 플레이어 아바타 머리 위에 뭐를 띄우고 싶으면,
transform.position = PlayerAvatar.LocalPlayer.transform.posi

[2022-01-24 17:31] brainini commented on #50
@AliceOfSNU @brainini  @Abecid  이 오류 계속 나와서 해결해야합니다!!

[2022-01-24 19:23] Abecid commented on #50
확인해보겠습니다

[2022-01-25 03:53] AliceOfSNU commented on #81
![image](https://user-images.githubusercontent.com/86138312/150907651-451423e3-ee3d-405f-9fee-da0df7c025f1.png)
네트워크 작업은 OnJoinedRoom을 기다린 후 해야합니다.
예컨대 PhotonNetwork.Instantiate같은것은
OnJoinedRoom 이전에 할 경우, photon view에 대한 message dispatching에 문제가 발생할 수 있다고 합니다.

유의할 점은, Master client가 처음 룸을 만들고 들어갈 때에는, OnJoinedRoom 이후에 씬의 모든 object에 start가 호출되지만,

이미 있는 룸에 조인하는 클라이언트의 경우, 그 room이 Automatically syn

[2022-01-25 05:59] Aimee0122 commented on #74
스티키노트 베이스 구현 이후에 추가적으로 더할 수 있는 기능들을 찾아보았습니다.
- 책상에 스티키 노트 붙었을 경우, 책상 가까이 다가가면 노트 허공에 표시
https://www.youtube.com/watch?v=eVre2i6gPF0
- UI적 요소 (타이핑 효과)
https://www.youtube.com/watch?v=OjcPuEVQT6s

[2022-01-25 18:11] ahnjinmo commented on #45
## 2차 디벨롭 (1/19~1/26)
- [X] 설정한 알람과 실제 알람기능 연동
- [X] 설정한 알람 편집 및 삭제 기능 추가
- [X] 알람 시간 설정 시 +/- 버튼 기능 추가
- [X] 베이스라인 알람 스크립트 정리 및 삭제
- [X] 주석 추가

## 추가 디벨롭 가능사항 (1/26~)
- [ ] 오른쪽에 현재 설정된 알람 볼 수 있는 미니 윈도우/탭 구현
- [ ] 알람 소리 선택 기능
- [ ] 알람 지속 시간 설정 기능
- [ ] 설정된 알람으로부터 ~초/~분 전 경고 기능
- [ ] private/public 알람의 동작 차이 (public알람으로 설정하면 모든 사람에게 알람 적용)
- [ ] 설정된 알람을 3D 공간 상에 놓는 시각적인 오브젝트로 놓아서 볼 수 있는 기능

[2022-01-25 22:21] ahnjinmo commented on #74
## 베이스라인 (1/19~1/26)
- [X] 스티키노트 생성 및 삭제 기능 추가
- [X] 스티키노트 내용, 크기, 각도, 위치 수정 기능 추가

## 추가 디벨롭 가능사항 (1/26~)
- [ ] 스티키노트 내용 작성 중 캐릭터 움직임 막기
- [ ] 스티키노트 생성 시, 월드 내의 본인 플레이어 받아와서 일정 거리 앞에 생성되도록 만들기 (현재는 월드 영점에 생성되도록 구현함)

[2022-01-26 02:05] AliceOfSNU opened #84 "스티키노트 동기화"
## 스티키 노트 동기화 할일
- [ ] ownership interface 구현
- [ ] rect transform 동기화
- [ ] text 동기화
- [ ] 플레이어가 scene을 나갈 때 object의 persistence 구현

## ownership interface

1) photon view를 붙인다. ownership을 인스펙터에서 **fixed -> request 또는 takeover**로 바꾼다.

2) script로 IPunOwnershipCallbacks를 구현하고, OnOwnershipRequest와 OnOwnershipTransfered등
인터페이스가 요구하는 메소드들을 채워넣는다.

3) IPunOwnershipCallbacks를 받기 위해서는, OnEnable 과 OnDisa

[2022-01-26 02:19] AliceOfSNU commented on #84
## Rect Transform 동기화
https://doc.photonengine.com/en-us/pun/current/gameplay/synchronization-and-state#making_the_most_of_synchronization__rpcs_and_properties

sticky note 가 transform대신 rect transform을 사용하는 UI element라서 photonTransformView는 사용 불가.

크게 두가지 방법을 후보로 생각하고 있음
1. OnPhotonSerializeView로 직접 rect transform의 position, rotation값들을 **실시간** 으로 동기화
2. RoomCustomProperties를 통한 동기화로, 한 플레이어가 스티키

[2022-01-26 02:23] AliceOfSNU commented on #84
### string동기화
RPC 쓰면 됨 이건 간단.
스티키노트에 PhotonView 컴포넌트 있는지 확인하고
[PhotonRPC]
PostNoteContent(string content) {
  text = content;
}
요거 스크립트에 달고,
스트링 편집 완료시(confirm)
_view = GetComponent<PhotonView>();
if(_view.ownerActorNr != PhotonNetwork.LocalPlayer.ActorNumber) return;
_view.RPC("PostNoteContent", RPCTarget.All, content);
쏴주면 됨.

관련 도큐멘테이션
https://doc.photonengine.com/en-us/pun/current/gameplay/rpc

[2022-01-26 04:08] AliceOfSNU commented on #84
포톤 네트워킹 도큐멘테이션
https://lying-walrus-8c6.notion.site/Ownership-b9ec423070e74c44be9db1096127e372

[2022-01-26 06:14] brainini commented on #81
- [ ] PlayerTtl, EmptyRoomTtl을 설정해서 Portal타고 Back to Lobby 눌렀을 때 rejoin함수를 실행해서 새로 random한 방을 찾게하는 과정을 줄이자.
- [ ] customproperty에 연결된 scene이름을 적어서 portal에서 filtering

[2022-01-26 14:02] westkite2 opened #89 "클라이언트(미니 콘텐츠 팀) - 맵 설계 및 구현"
## 1/31월까지 할 일
- 맵 설계: 블록 및 코인 배치, 시작/골인지점 설정
* 중간회의 (1/28): 각자 맵 그려와 합치기 / 코인, 블록 점수 설정
- 맵 구현: 블록 배치, 코인 배치

[2022-01-27 05:06] AliceOfSNU opened #90 "아바타 커스터마이징 동기화"
## 현재 상황
- dev 브랜치에 아바타의 각 부분 material base color 바꾸는 코드가 들어가 있음
- 아직 동기화는 안되는 상황

## 목표
- 다른 플레이어들이 내가 커스터마이징한 아바타의 모습을 볼 수 있도록 동기화
- 추후 커스터마이징 요소가 추가될 것을 고려하여 확장성있는 설계

[2022-01-27 05:13] AliceOfSNU commented on #90
지금 dev의 코드는 material을 직접 수정 -> 안됨! (왜냐면 prefab이 해당 material에 대한 reference를 갖고 있기 때문에,
해당 material을 직접 수정하면 만들어지는 모든 prefab instance의 material이 영향을 받게 됨)

---> 몇개의 샘플 material을 만들어놓고 material 번호를 sync하여 각 아바타에 적용하는 식으로 코딩.

avatar의 각 부분(helmet, backpack... etc)에 access하는 것을 쉽게 하기 위한 avatar data class를 만드는 것이 좋아보임.
그리고 이 data class 의 속성을 직접적으로 바꿀 수 있는 (setMaterial... setTexture....) 등의 함수를 갖고있는 스크립트

[2022-01-27 05:33] AliceOfSNU commented on #90
![image](https://user-images.githubusercontent.com/86138312/151297874-4fd70474-0480-486f-9375-71dcf53150b7.png)
degree of encapsulation? -> 논의 하고 코딩

[2022-01-27 08:18] Abecid opened #91 "서버 - 데이터베이스 추가 및 클라이언트-서버 커넥션 구축"
## 목적

## 작업 상세 내용
- 데이터베이스 디자인
- Node.js 서버에서 백엔드 로직 구축 (회원가입, 로그입)
- 유니티와 서버가 서로 송수신할 수 있는 환경 구축하기
## 참고 사항
- [

[2022-01-30 02:18] #38 closed, assigned to MondaySHB, JasonK2K, AliceOfSNU, ahnjinmo

[2022-01-30 02:18] #63 closed, assigned to MondaySHB, AliceOfSNU

[2022-01-30 11:05] ahnjinmo commented on #74
## 1차 디벨롭 (1/26~1/30)
- [X] 코드 리팩토링 (버튼 콜백, 이벤트 트리거 등을 모두 스크립트에서 바인딩하도록 수정)
- [X] Lock 기능 추가. Lock 버튼을 누르면 이동, 편집, 삭제 불가능
- [X] Remove 버튼을 일정 시간동안 누르고 있어야 스티키노트가 제거되는 기능 추가
- [X] Edit 모드에서 마우스 스크롤을 이용해 글씨의 크기를 조절하는 기능 추가

## 추가 디벨롭 가능사항 (1/26~)
- [ ] EditCanvas를 하나로 통일하기 (현재는 스티키노트 하나당 EditCanvas가 하나씩 같이 생성되어서 중복됨. 내용 편집 용 EditCanvas를 싱글톤 생성해서 이거 하나만 쓰는 방향으로 수정해야 할 듯함)
- [ ] 뒷면에서도 제대로 보이도록 하기, 뒷면에

[2022-01-30 12:17] MondaySHB commented on #84
현재 해당 branch에서 test용 scene 및 포탈 새로 생성 완료했습니다.(이후 multi test에 활용하면 좋을 거 같습니다)
sticky note 내용 공유, scale, rotate, delete 모두 다른 사람들과 공유되도록 했습니다.
1. edit 중에 중복 edit 해결해야 할 예정
2. PhotonTransformView 보다 RPC 위주로 사용하고자 OnDrag를 통한 구현에 중간 RPC 선언할 함수 만들어서 호출 구조refactoring 예정
3. StickyNote에 새로 추가 된 기능 반영할 예정

[2022-01-31 02:35] #89 closed, assigned to westkite2

[2022-01-31 02:45] westkite2 opened #95 "클라이언트(미니 콘텐츠 팀) - 플레이어 및 카메라, 블록 및 코인, 득점 체계"
## 2/7(월)까지 할 일
※ xTown 캐릭터 사용가능 여부 확인
※ 중간회의 (2/4): 중간 점검

지희
- 플레이어 컨트롤 구현: 이동, 점프
- 카메라 이동 구현
- 득점: 블록, 코인 득점

서연
- 동적 블록 구현: 블록 모션
- 코인 구현: 코인 모션

[2022-01-31 02:49] #60 closed, assigned to westkite2, JasonK2K, RealPark

[2022-01-31 02:50] #44 closed, assigned to westkite2, JasonK2K, ahnjinmo

[2022-01-31 13:45] AliceOfSNU commented on #90
Syncing 을 위해서 매번 새로 material을 생성하는 로직으로 테스트 중.... -> branch "AvaterCustomization_Hanjun" 참고
![image](https://user-images.githubusercontent.com/86138312/151804402-3c141a41-f2af-4d72-80b9-2d35724729f4.png)

[2022-02-03 03:48] AliceOfSNU commented on #90
일단 모델이 다른 룸에서 스폰되었을때도 유지되도록 코딩했습니다!
태호님 칼러버튼들이랑,, texture 입히는거 부탁드려요! (아 제 브랜치는 #96 #90avatar-test-sync입니다)

[2022-02-03 03:50] #50 closed, assigned to nobody

[2022-02-03 03:51] #27 closed, assigned to AliceOfSNU, ahnjinmo

[2022-02-03 06:36] AliceOfSNU commented on #90
동기화도 대강 되네요
![image](https://user-images.githubusercontent.com/86138312/152293168-f03600c2-f0f2-4e7d-9328-a9b521f516b3.png)
근데 저희 최신 브랜치인 dev에서 작동하게 하려면 몇군데 고쳐야 되긴 할 것 같아요
그건 merge 시에 해도 될 것 같네여

[2022-02-03 07:07] AliceOfSNU commented on #61
voice chat이 아니라 video chat이었나요? 일단 voice 챗은 제가 하기로 했으니 close 하겠습니다!!

[2022-02-03 07:07] #61 closed, assigned to brainini

[2022-02-03 22:50] ahnjinmo opened #98 "클라이언트 - 농구 게임 구현"
## 목적
- 농구 게임 구현

[2022-02-06 07:49] westkite2 commented on #95
1. 변경 사항
- 플레이 목표 변경: ​낮은 점수 지향
- main 브랜치 파일에 기존 파일을 포함함
- 지난주 이슈에서 제작한 발판 통합하여 'Block'씬 생성
- BlockMove 프리팹 V, H로 분리 → 다시 하나로 통합

2. 논의사항
아래와 같은 점수체계 제안:
- 블록 점수: 정적블록 +4, 이동블록 +3, 크기변화블록 +2, 투명화블록 +1
- 시간 점수: 초당 +1
- 코인 점수: 개당 -50

[2022-02-07 11:07] ahnjinmo commented on #98
* 기본적인 농구 게임 시스템을 구현했습니다.
* 시작 시 Enter 버튼을 누르면 30초 카운트다운시 시작되고, 화면을 클릭하면 공이 스폰됩니다. 그 후 공을 드래그 하면 슛이 가능합니다.
* Basketball 씬에서 확인하실 수 있습니다.

https://user-images.githubusercontent.com/89832796/152776188-9d73814b-1e86-4e0c-a22e-785954d51726.mp4

[2022-02-07 13:28] Hyewon0309 opened #105 "클라이언트 - 아바타 의자 상호작용"
## 목적

## 작업 상세 내용
- [ ] 의자가 없을 때, 앉는 모션이 발생하지 않게 수정
- [ ] XTown 회의실 의자에 제대로 앉을 수 있게 조정

[2022-02-08 08:25] brainini commented on #98
진짜 이 농구게임은... 너무 멋있네요

[2022-02-08 22:18] ahnjinmo commented on #98
# GameState 분류
* GameReady : 게임 시작 전
  * 아직 농구게임을 시작하지 않은 단계. PlayButton을 누를 때까지 이 단계에 있음.
  * PlayButton을 누르면 게임이 시작되고, 라운드 준비 단계로 이동함.
  * ScoreDisplay가 0으로 초기화됨.
* RoundWaiting : 라운드 준비 단계
   * 라운드가 진행되기 전의 단계. 라운드가 시작되기 전에 3 2 1 카운트다운을 하는 단계.
   * RoundText와 LeftTimeDisplay가 초기화됨.
   * 농구공의 스폰이 막혀있음.
   * 생성된 농구공을 모두 제거함.
* RoundOngoing : 라운드 진행 단계
  * 농구공을 던지며 실제 플레이할 수 있는 단계. LeftTime이 0이 되기

[2022-02-09 02:21] ahnjinmo commented on #98
## 게임 방법
- Basketball 씬에 들어간다.
- Play 버튼을 누르면 게임이 시작된다.
- 게임은 총 4라운드이며, 각 라운드 마다 30초가 주어진다.
- 3초 후에 라운드가 시작되며, 라운드가 시작되면 마우스 클릭을 통해 공을 생성할 수 있다.
- 생성된 공을 마우스로 드래그하여 슛을 할 수 있다.
- 4라운드까지 종료되면 최종 스코어가 띄워지고 3초 뒤 게임이 종료된다.

## 추가 구현 내용 정리
- [X] 라운드 시스템 추가 (총 4라운드로 구성)
- [X] 공 넣었을 때 효과음 및 파티클 추가
- [X] 게임 시작 및 안내를 위한 UI 추가

https://user-images.githubusercontent.com/89832796/153109628-c63206ac-fb83-43da-9

[2022-02-09 05:32] MondaySHB opened #113 "네트워크 - 당구게임 동기화"
## 목적
- 당구게임 네트워크 동기화
## TODO
- 테스트를 위한 새로운 월드 위에 포털
- 공 동기화
- 큐대 동기화

[2022-02-09 11:33] ahnjinmo opened #115 "클라이언트 - 메인 UI 수정된 기능명세서 구현"
# 목적
* 수정된 메인 UI 기능명세서에 따른 메인 UI 구현

[2022-02-09 12:06] westkite2 opened #116 "클라이언트(미니 콘텐츠 팀) - 마무리"
## 2.15화까지 완성
서연
- 워프 구현
- 세이브포인트 구현
- 돔 구현 -> 돔은 단색 배경으로 구현 예정

지희
- 플레이어 아바타 스폰, 점수 계산 완성
- UI 수정 및 개선: 플레이어 화면(현재 코인, 점수에서 -> 시간, 현재점수, 코인), 클리어 시 최종 점수 표시, 게임 종료 버튼

[2022-02-09 12:18] #95 closed, assigned to westkite2

[2022-02-09 14:31] #45 closed, assigned to MondaySHB, JasonK2K, ahnjinmo, Aimee0122

[2022-02-09 14:32] #53 closed, assigned to ahnjinmo

[2022-02-10 00:34] brainini opened #118 "네트워크 - Text Chat 수정 및 논의 사항_순규님"
## UI팀 기능 명세서에 따른 구현

<img width="747" alt="IMG_3170" src="https://user-images.githubusercontent.com/37990422/153313769-bf86426f-fb2d-4854-91c6-e1443cf89958.PNG">

- 위 이미지와 같이 UI요소 구현
- UI팀이 직접 깃과 유니티를 이용해서 디자인 시스템을 입힐 예정이므로 최대한 기능명세서에 나와 있는대로 요소들을 구현하면 좋음. 다만, **현재까지 개발적으로 구현된 사항에 한해 구현할 것!!!** 기능 명세서나 요소들에 지금 당장 개발적으로 구현이 힘든 요소들이 있으면 해당 사항은 미뤄놓고, 대신 피그마나 다른 문서에 표시해주면 좋을 것 같습니다.

## 더블클릭 update문

[2022-02-10 07:30] #43 closed, assigned to Hyewon0309

[2022-02-10 07:30] Hyewon0309 commented on #43
감정 표현이 아닌 헬멧 표정 토글 기능으로 변경되어 Issue Close합니다

[2022-02-10 07:31] Hyewon0309 commented on #57
이 부분도 다른 브랜치에서 작업해 Merge하여 Close합니다.

[2022-02-10 07:31] #57 closed, assigned to be9904, Hyewon0309

[2022-02-10 15:34] nomorebye opened #131 "디자인 - NPC 오브젝트 추가 관련 개발사항"
## 목적

## 작업 상세 내용
- NPC 오브젝트의 Idle animation 추가
- NPC 오브젝트 인터렉션 시 말풍선 추가
## 참고 사항
- 구글 드라이브에 fbx 파일 2/11 중 업로드 예정입니다.

[2022-02-11 08:27] nomorebye commented on #131
업로드했습니다. 위치는 스폰공간 포탈 4개에 4마리 배치 예정입니다.

[2022-02-11 15:00] ahnjinmo opened #135 "클라이언트 - 스티키노트 추가 수정사항"
## 수정할 사항
* 스티키노트 뒷면에 마우스 댈 때 컨트롤러가 나타나지 않는 문제 수정
* 배경 색 변경
* 스티키노트 생성 높이 낮게 수정
## 추가할 사항
* 내용 클립보드에 복사 및 txt export 기능 추가

[2022-02-11 18:18] ahnjinmo commented on #131
* fbx 모델의 피벗이 아래 사진처럼 어긋나있습니다! 라이노에서 fbx로 익스포트하면 월드 원점이 피벗으로 적용된 상태로 되어버려서 그런 것 같은데, 일단 라이노에서 임시로 모델을 월드 원점으로 옮기고 익스포트 하는 방법이 있는데 그 외 방법은 잘 모르겠네요..

![image](https://user-images.githubusercontent.com/89832796/153642425-48e285cd-dcea-46ee-9336-15e2e4fcc03e.png)
* 모델 스케일도 매우 작게 임포트가 됩니다! 제가 알기로는 블렌더와 유니티 스케일이 1:1이라서 유니티랑 동일한 스케일로 제작해서 익스포트하면 유니티에서 똑같은 크기로 볼 수 있는데... 음 왜 작게 임포트 된 건지는 모르겠네요

[2022-02-12 13:22] ahnjinmo opened #141 "클라이언트 - 모노레일 구현"
## 목적
모노레일 구현

[2022-02-12 15:01] jiws0207 commented on #131
다시 업로드 했습니다!

[2022-02-12 15:53] #135 closed, assigned to nobody

[2022-02-12 15:53] #118 closed, assigned to brainini, Gyu1291

[2022-02-12 15:53] #115 closed, assigned to JasonK2K, ahnjinmo

[2022-02-12 15:54] #90 closed, assigned to Abecid, tehokim

[2022-02-12 15:54] #81 closed, assigned to brainini

[2022-02-12 15:54] #52 closed, assigned to JasonK2K, ahnjinmo, Aimee0122

[2022-02-12 15:54] #42 closed, assigned to AliceOfSNU

[2022-02-12 15:55] #51 closed, assigned to Hyewon0309, tehokim

[2022-02-12 15:55] #67 closed, assigned to brainini, AliceOfSNU

[2022-02-12 15:55] #74 closed, assigned to MondaySHB, JasonK2K, ahnjinmo, Aimee0122

[2022-02-12 15:55] #76 closed, assigned to westkite2, JasonK2K, RealPark

[2022-02-12 15:56] #84 closed, assigned to MondaySHB, AliceOfSNU, ahnjinmo

[2022-02-13 02:33] MondaySHB opened #143 "클라이언트 - 화이트보드 동기화"
## 목적

[2022-02-13 04:39] westkite2 commented on #116
@yjh9929
jihee branch (add comments on scripts 버전)에서
- Player jump 시 무제한으로 위로 올라가는 현상이 있습니다. 일반적인 점프처럼 spacebar 누르면 1회 점프되고 바로 내려오도록 수정 요청드립니다. (getkeydown)
- 작업 도중 점프 키 작동이 안 됐는데, 아바타 가져온 뒤에도 동일할지 모르겠어서 확인해주시면 좋겠습니다.
- Player 이동속도 더 빠르게 수정해도 괜찮을 것 같습니다.

[2022-02-13 07:30] westkite2 commented on #116
이번 주차 이슈 완료하여 week3 issues completed로 올려두었습니다.

업데이트 내용:
1. 오르막길 끝, 내리막길 시작점에 워프 포털 추가
- Portal_Entrance, Portal_Exit 오브젝트
- PortalScript 스크립트

2. 세이브포인트 추가
- Floor 오브젝트
- GameManager, SavePoint 스크립트

3. 배경 추가
- Skybox 매터리얼

[2022-02-13 12:07] nomorebye opened #146 "디자인 - 게임공간/모임공간 포탈"
## 게임공간 / 모임공간 내부로 접근

## 작업 상세 내용
- 게임공간

1.
게임공간 포탈
게임공간
주변에 접근 시
인터렉션 버튼을 눌러 , 게임공간 내부
당구게임 야추게임이 구현된 평면으로
캐릭터 좌표 이동
2.
게임 공간 앞에 포탈을 하나 만들어 ,
게임공간 내부 당구게임 야추게임이
구현된 평면으로 캐릭터 좌표 이동
![image](https://user-images.githubusercontent.com/72501946/153752202-d2d476e0-c12a-435d-be5b-fc98a7baca4c.png)
![image](https://user-images.githubusercontent.com/72501946/153752207-d21c5788-6b1f-47ef-8d01-7af3b5f4794

[2022-02-13 13:02] nomorebye opened #147 "디자인 - 폭포 지형 내 중력 방향 변경"
## 목적

## 작업 상세 내용
![폭포 중력 조절](https://user-images.githubusercontent.com/72501946/153754336-b9e45033-773c-470e-992a-25057208276a.png)
- 폭포 지역 지형이 꺾이는 부분, 중력의 방향을 수정해서 캐릭터가 걸어서 180도꺾인 부분까지 올라갈 수 있게 수정 부탁드립니다..

[2022-02-13 13:29] ahnjinmo opened #148 "클라이언트 - 스티키노트 생성되는 방향 수정"
## 목표
* 스티키노트가 생성될 때의 회전 각도를, 현재 보고있는 화면의 정면을 보도록 수정

[2022-02-13 13:38] nomorebye opened #150 "디자인 - 화이트보드 포탈 오류"
## 목적

## 작업 상세 내용
- ![화이트보드 포탈 오류](https://user-images.githubusercontent.com/72501946/153755675-81bad3ce-0bde-424a-9d3c-6cc2b06f683d.png)
화이트보드 포탈에 들어갔을 때, 캐릭터가 사라지고 씬에 입장이 되지 않습니다..

[2022-02-13 13:39] nomorebye opened #151 "디자인 - 긴급탈출 버튼 추가"
## 목적

## 작업 상세 내용
- 버튼 중 하나를 리스폰 버튼으로 하여, 눌렀을 때 리스폰 장소로 강제 이동할 수 있었으면 합니다..
어딘가 끼였을 때 나오기가 힘들어요..

[2022-02-13 13:41] brainini opened #152 "UI- 디자인 시스템 적용"
## 디자인 시스템 적용
- ** 각자 branch 필수 확인 **
  - UI_DesignSystem 브랜치에서 개인 브랜치 파서 작업 (branch Name : 캔버스 이름)
- Scene에 있는 것이 아니라 Prefab에서 작업!!!
- Commit은 명확하게!!

**역할 배분**
- Canvases (Lobby에 있는 것)
  - [x] LoadingCanvas - 다빈
  - [x] PlayerNameInputCanvas - 다빈
  - CustomizeAvatarCanvas (Color picker 빼고)
    - [x] Figma - 지원
    - [x] Unity 올리기 - 진
  - [x] AvatarConfirmCanvas - 소희

- MainCanvases
  - [x] TopRi

[2022-02-13 13:48] jiws0207 opened #153 "디자인-아카이빙 공간 홀로그램 창"
## 목적

## 작업 상세 내용
- [ 캐릭터가  XREAL 로고 앞으로 갔을 때 홀로그램 창 열림->리서치 팀의 뉴스레터와 리서치 자료를 열람할 수 있는 기능 구현 ]
## 참고 사항
아래의 xreal 로고 근처에서 해당 기능 작동
![화면 캡처 2022-02-13 220831](https://user-images.githubusercontent.com/80415926/153754815-96eb0755-6efc-4647-b8ce-f690b33911b7.png)

- [ ]

[2022-02-14 02:00] tehokim opened #155 "메인룸 점프 버그"
메인룸에서 space 눌러서 점프할 때(점프 애니메이션 실행 중일 때) E키(앉기) 누르면 애니메이션 버그 있음. 점프시 E키 안눌리도록 수정 필요

[2022-02-14 02:06] tehokim commented on #155
https://user-images.githubusercontent.com/95514277/153787925-bdf0d52e-ecb7-4beb-aae4-6214df102273.mp4

[2022-02-14 04:23] ahnjinmo commented on #153
## 할 일
* 홀로그램 창으로 시점을 변환하고 다시 원래 시점으로 되돌아오는 시스템 (콜라이더 트리거 이용)
* 시점 변환 시 시네머신을 이용한 자연스러운 전환 및 애니메이션 구현
* 전환된 1인칭 카메라에 적절한 포스트프로세싱 적용
* 홀로그램 창 UI 에셋 구해서 적용
* 작성된 뉴스레터와 리서치 자료 UI에 임포트

[2022-02-14 05:43] brainini opened #156 "** 중요 ** 컨퍼런스 전 필수 수정 사항 ~ 2/16(수)"
## MainWorld 입장 전
- [ ] AvatarConfirmCanvas 에서 모드 클릭했을 때 Drag Mode / Click Mode 둘 중 하나만 해당하게 뜨게 하기

## MainWorld
- [x] 스폰 시 스폰 지점에 있는 각 원에서 랜덤하게 스폰되기 : 민석
- [x] 스폰 시 효과음 : 민석
- [x] 걸을 때, 점프할 때 효과음 : 민석
- [x] 폭포, 강물 소리 :민석
- [x] 월드 BGM : 유정
- [x] Text Chat 채널 구분 : 순규
- [x] Video Chat 있으면 무조건 좋음.  (가능하면..) : 순규
- [x] Minimap : 다빈 민석
  - Minimap 동기화는 시간 남으면 하는 걸로.
- [ ] Portal 입장 시 오류 수정 필요 : 태구
- [x

[2022-02-14 05:49] Hyewon0309 commented on #156
### Avatar 추가 수정 사항

- [ ] 1인칭 카메라 버그 픽스
- [ ] 토글 띄웠을 때, 카메라 이동 조절
- [ ] 헬멧 표정 변경 후, 10초가 되기 전에 다른 버튼을 누르면 다른 것으로 변경되고 새롭게 10초 동안 유지되도록 변경

[2022-02-14 12:29] #146 closed, assigned to ahnjinmo

[2022-02-14 13:18] AliceOfSNU commented on #156
![image](https://user-images.githubusercontent.com/86138312/153871467-e1796624-f0a6-4db8-9de4-fecb3efe5bcb.png)
현재 방 안 player list

[2022-02-15 13:11] tehokim opened #172 "채팅이나 다른 키보드 인풋 입력할 때 아바타 움직임 제한!!!!! : 태호"

[2022-02-15 13:16] #172 closed, assigned to nobody

[2022-02-16 01:52] Abecid opened #177 "네트워크 - 친구 기능 추가"
## 목적

## 작업 상세 내용
- 친구 내용 데이터베이스에 저장하고 불러오기
## 참고 사항
- https://doc.photonengine.com/en-us/chat/current/connection-and-authentication/authentication/custom-authentication#returning_data_to_client

[2022-02-16 01:55] Abecid opened #178 "네트워크 - 실시간 알림 기능"
## 목적

## 작업 상세 내용
- RPC로 친구 UserId 이용하기. Offline일 경우 알림 스택에 쌓기
## 참고 사항
- [ ]

[2022-02-16 01:56] Abecid opened #179 "서버 - 아바타 커스터마이제이션 데이터베이스에 저장"
## 목적

## 작업 상세 내용
- 데이터베이스에서 아바타 스키마에 저장
## 참고 사항
- [ ]

[2022-02-16 01:57] Abecid commented on #177
컨프런스 이후

[2022-02-16 01:57] Abecid commented on #178
컨프런스 이후

[2022-02-16 01:57] Abecid commented on #179
컨프런스 이후

[2022-02-16 07:08] #148 closed, assigned to ahnjinmo

[2022-02-16 21:11] ahnjinmo commented on #141
## 수정할 사항
* 여러 명이 같은 트랙 탈 수 있게 기능 추가
* 트랙 중간에서 내릴 수 있는 기능 추가
* 네트워크 코드 추가
* 애니메이터 Apply Root Motion 컨트롤

[2022-02-20 03:34] #113 closed, assigned to MondaySHB, AliceOfSNU

[2022-02-20 03:36] AliceOfSNU opened #202 "Video Chat token expiration"
## 현재 상황
- token만료 뜨면 새로 받아와야 함

![image](https://user-images.githubusercontent.com/86138312/154827384-e7654149-3415-433b-a350-fd010ae067c3.png)
만료 뜨는 조건이랑 그때 callback이 있는 거 같음.. 이게 도움 될 수도?

[2022-02-20 03:52] AliceOfSNU commented on #202
API reference: renew token
https://docs.agora.io/en/Video/API%20Reference/unity/classagora__gaming__rtc_1_1_i_rtc_engine.html?platform=Unity#a7e4d24653a711811dd40af84614cd738

[2022-02-20 07:22] AliceOfSNU opened #204 "Video Chat user list update"
## 현재 상황
- user가 나가면 모든 유저가 채널에서 나갔다 들어와서 list 업데이트 하는 상황

## 작업 계획
- AliceOfSNU(한준) grid layout 사용하여 유저별 video panel 추가 삭제하는 작업 맡고,
- Gyu1291(순규)님이 agora user joined/left 관련 콜백에 대한 event 정의 해주시는 작업.

## 일정
- due 27일

[2022-02-20 07:30] AliceOfSNU commented on #204
event 기반 코딩 예제
Voice.cs
`        // events
        public Action<int, bool> OnPlayerVoiceChangedHandler = null;

        public void OnPlayerVoiceChanged(int actorNr, bool state)
        {
            if (OnPlayerVoiceChangedHandler != null)
            {
                OnPlayerVoiceChangedHandler.Invoke(actorNr, state);
            }
        }

        public void RemoveListener(Action<int, bool

[2022-02-20 07:34] AliceOfSNU commented on #202
web request on unity reference (login 구현, abecid님 코드)
https://github.com/XREAL-SNU/xTown/blob/%2391_Database_Auth/Assets/Scripts/Lobby/UI/PlayerNameInputMenu.cs

[2022-02-26 13:53] tehokim commented on #204
1. 유저 입장
- 6명 full이면 별다른 action 없음
- 6명 미만이면 맨 마지막에 생성
2. 유저 pin
- pin 최대 2개
- pin 하면 pin 한 순서대로 맨 앞 정렬
- unpin하면 unpin되어 있는 유저 화면 중 가장 앞으로(pin된 것 중 마지막 뒤에)
3. 유저 퇴장
- 내 페이지 밖 유저 퇴장하면 action 없음
- 페이지 안 유저 퇴장하면 그 사람 빼고 자동 정렬

[2022-03-06 08:53] #147 closed, assigned to ahnjinmo